---
import { projectsData } from "./projects-data"

const encodeImage = (imageUrl: string) => {
  const filename = imageUrl.toLowerCase().replace(/\s+/g, "")
  return `/images/projects/${filename}.webp`
}
---

<section data-test="projects-section">
  <h2 class="heading">My Projects</h2>
  <div class="grid">
    {
      projectsData.map((item) => (
        <a
          aria-label={item.subtitle}
          class="card"
          href={`https://${item.url}`}
          rel="noopener noreferrer"
          target="_blank"
        >
          <img
            alt={`${item.title} Preview`}
            class="card-image"
            height={225}
            loading="lazy"
            src={encodeImage(item.title)}
            width={360}
          />
          <div class="card-overlay">
            <p class="card-title">
              <span>{item.title}</span>
              <br />
              {item.url}
            </p>
          </div>
        </a>
      ))
    }
  </div>
</section>

<style>
  .heading {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    place-items: center;
  }

  .card {
    transition: transform 0.2s ease-in-out;
    width: auto;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card-image {
    aspect-ratio: 16 / 10;
    border-radius: 0.25rem;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
  }

  .card-title {
    bottom: 0.5rem;
    color: var(--gray-200);
    left: 1rem;
    position: absolute;
  }

  .card-title span {
    font-weight: var(--bold);
  }

  .card-overlay {
    background-color: var(--bg-gray-900);
    border-radius: 0.25rem;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .card:hover .card-overlay {
    display: block;
  }
</style>
