---
import { Social } from "../components/Social/Social"

const { title } = Astro.props
const { NEXT_PUBLIC_GA_ID } = import.meta.env
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={title} />
    <meta name="theme-color" content="#064e3b" />
    <meta name="apple-mobile-web-app-title" content="Renan Sigolo" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- Twitter -->
    <meta
      property="og:image"
      content="https://renansigolo.com/meta-tags-banner.svg"
    />
    <meta name="og:title" content={title} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="icon" href="/favicon.ico" />

    <!-- Manifest -->
    <link rel="manifest" href="/manifest.webmanifest" />

    <!-- Apple -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#111827b3" />

    <!-- Title -->
    <title>{title}</title>

    <!-- Google Analytics -->
    <script
      type="text/partytown"
      src=`https://www.googletagmanager.com/gtag/js?id=${NEXT_PUBLIC_GA_ID}`
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())

      // eslint-disable-next-line no-undef
      gtag("config", `${NEXT_PUBLIC_GA_ID}`)
    </script>
  </head>

  <body>
    <slot />
    <footer>
      <Social />
    </footer>
  </body>
</html>
